@page
@model CalcWeb.Pages.FinanceModel

@{
    ViewData["igreeting"] = "CalcWeb";
}

<h1>Finance</h1>

<a asp-page="/Tip"><button style="position: absolute; width: 500px; height: 150px; top: 155px; background-color: white; left: 100px;"><p style="position:absolute; font-weight:bold; text-align:left; top: 15px; left: 23px">Tip Calculator</p><img style="position:absolute; height:45px; width: 55px; z-index:3; top: 10px; left: 440px;" src="https://i.ibb.co/S2BqvZq/tipjar.png"><p style="position:absolute; top:70px">Calculate how much you should tip by entering the total and the percent you want to tip.</p></button></a>
    <button style="position: absolute; width: 500px; height: 150px; top: 155px; background-color: white; left: 650px;">Sales Tax Calculator<p>TBA</p></button>
    <button style="position: absolute; width: 500px; height: 150px; top: 335px; background-color: white; left: 100px;">Budget Calculator<p>TBA</p></button>
