@page
@model CalcWeb.Pages.PersonalModel

@{
    ViewData["igreeting"] = "CalcWeb";
}

<h1>Personal</h1>

<a asp-page="/Thebmi"><button style="position: absolute; width: 500px; height: 150px; top: 155px; background-color: white; left: 100px;"><p style="position:absolute; font-weight:bold; text-align:left; top: 15px; left: 21px">BMI Calculator</p><img style="position:absolute; height:65px; width: 75px; z-index:3; top: 10px; left: 400px;" src="https://i.ibb.co/TqtWzbMx/BMI.png"><p style="position:absolute; top: 70px">Calculate your BMI using your weight and height in us metrics or standard metrics </p></button></a>
                   <button style="position: absolute; width: 500px; height: 150px; top: 155px; background-color: white; left: 650px;">Calorie Calculator<p>TBA</p></button>
          
